@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;

	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #585858;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

html {
	scroll-behavior: smooth;
}

.notion {
	--bg-color: #FFFCF1 !important;
}

.notion-viewport {
	display: none !important;
}

.notion-page-cover {
  max-width: 900px;
  border-radius: 24px;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover {
    border-radius: 0;
  }
}

.notion-header .nav-header {
	display: none;
}

.primary-button {
	@apply py-2 px-8 rounded-xl text-xl text-white font-semibold;
	@apply bg-yellow-600 bg-gradient-to-r from-burntSienna to-yellow-600;
}

.primary-button:disabled {
	@apply text-gray-400 bg-none bg-gray-300 border-2 border-gray-400 opacity-70;
}

.article-title {
  @apply text-center text-3xl md:text-4xl font-bold;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-doveGray rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-burntSienna border-2 border-gray-300;
}
